*{
     font-family:'Open Sans', 'Helvetica Neue';
     font-weight: 300;
 
}

body{
    background-color:#131617;
}

.containerDiv{
    display:flex;
    flex-direction: column;
    margin: auto;
    padding:20px;
    background-color: #006C8D;
    align-content: center;
    justify-content: center;
    color: #ffffff;
    max-width: 500px;
  

}
.containerDiv div{
    margin:20px;
    display: flex;
    flex-direction: column;

}

.containerDiv input{

    border:none;
    padding:5px;
    border-radius: 10px;

}

#sub{
    width: 5rem;
    border:none;
    padding:0.5rem;
    border-radius: 5px;
    background-color: #0082A9;
    color:white;
    
}
.myMangas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}
.GET{
    margin: auto;
    align-self: center;
    justify-self: center;
    width: 90%;
    border:none;
    padding:0.5rem;
    border-radius: 5px;
    background-color: #0082A9;
    color:white;
   
}

.mangaDiv{
    width: 320px;
   color: rgb(255, 255, 255);
    background-color:#00546E;
  
    padding:0.5rem;
    margin:2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.mangaDiv button{
  
    background-color:#DE4D08;
    border:none;
    padding:8px;
    color:white;
    float: right;
    width:100%;
    border-radius: 5px;

    
    
}


